body {
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: left;
  margin: 0px;
  padding: 0px;
}
div {
  display: block;
  box-sizing: border-box;
}
textarea:focus, 
input:focus,
button {
    outline: none;
}

.GameTable {
  font-size: large;
  padding: 10px;
  margin-top: 55px;
  overflow: hidden;
}

.red {
  color: red;
}
.hide {
  display: none;
}
.clickable {
  cursor: pointer;
}

.controls button {
  display: inline-block;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}
.controls button:hover {
  background-color: white;
}
.playerZone {
  width: 100%;
  clear: both;
  text-align: left;
  padding: 10px;
  margin-left: 0px;
}
.playerZone span {
  padding-bottom: 10px;
}

.white {
  color: white;
}
@media only screen and (max-width: 40.063em) {
    .GameTable {
      margin-top: 35px;
    }  
}